extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			div(class="row")
				div(class="span12 text-center") 
					h1 Add a Truck
			div(class="row")
				div(class="span6 offset3")
					form(action="/admin/finishtruck",method="post")
						label Truck Label:
							input(type="text", name="truckname", class=".input", required)
						br
						label Truck Serial:
							input(type="text", name="truckserial", class=".input", required)
						br
						label Truck Make:
							input(type="text", name="truckmake", class=".input", required)
						br
						label Truck Model:
							input(type="text", name="truckmodel", class=".input", required)
						br
						label Truck Plate:
							input(type="text", name="truckplate", class=".input", required)
						br
						input(type="submit", value="Submit")
					br
					br
					div(class='button')
						a(href="/admin") Cancel

				div(class="span3")