extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			div(class="row")
				div(class="span12 text-center") 
					h1 Add a Task
			div(class="row")
				form(action="/admin/addtask",method="post")
					div(class="row")
						input(type="hidden", name="creatorid", value="#{id}")
						div(class="span3 text-right")
							label Assigned to:
						div(class="span6")
							select(name="chargedid")
								option(value="99999") None
								each id, index in ids
									option(value=id)= names[index]
					div(class="row")
						div(class="span3 text-right")
							label Title:
						div(class="span6")
							input(type="text", name="title", class="input")
					div(class="row")
						div(class="span3 text-right")
							label Description:
						div(class="span6")
							textarea(name="description",rows="5",cols="20", class="input")
					div(class="row")
						div(class="span12")
							br
					div(class="row")
						div(class="span3 text-right")
							label Time and Date due:
						div(class="span6")
							input(type="datetime-local",name="timedue", class="input")
					div(class="row")
						div(class="span3 text-right")
							label Repeat period:
						div(class="span6")
							select(name="repeatperiod")
								option(value="none") No Repeat
								option(value="hourly") Hourly
								option(value="daily") Daily
								option(value="weekly") Weekly
								option(value="monthly") Monthly
								option(value="yearly") Yearly
					div(class="row")
						div(class="span3 text-right")
							label Repeat interval:
						div(class="span6")
							input(type="number",name="repeatincrement",value=1, class="input")
					div(class="row")
						div(class="span3 text-right")
							label Repeat end date:
						div(class="span6")
							input(type='datetime-local',name="repeatend", class="input")
					div(class="row")
						div(class="span3 text-right")
							input(type="submit", value="Submit")
							br
							br
							div(class='button')
								a(href="/admin") Cancel

				div(class="span3")