extends layout

block content
	div(class="container HomeContainer")
		div(class="row")
			div(class="span12")
				h1 #{username}'s Administrator Console
				h4.message #{message}
		div(class="row")
			div(class="span3")
				h2 Today's Tasks
				div(id="todaystasks",class="span3",class="list")
			div(class="span3")
				h2 Current Alerts
				div(id="todaysalerts",class="span3",class="list")
		div(class="row")
			div(class="span3")
				h2 Trucks
				div.button
					a(href="/admin/addtruck") Add Truck
				div(id="trucklist",class="span3",class="list")
			div(class="span3")
				h2 Tasks
				div.button
					a(href="/admin/addtaskform") Add Task
				div(id="tasklist",class="span3",class="list")
			div(class="span3")
				h2 Alerts
				div.button
					a(href="/admin/addalertform") Add Alert
				div(id="alertlist",class="span3",class="list")
			div(class="span3")
				h2 Admins
				div(id="adminlist",class="span3",class="list")
	script(src="/javascripts/adminscripts.js")