extends layout

block content
	div(class="container HomeContainer")
		div(class="row")
			div(class="span12")
				h1 #{username}'s Administrator Console
				h4.message #{message}
		div(class="row")
			div(class="span3")
				h2 Trucks
				div.button
					a(href="/admin/addtruck") Add Truck
				div(id="trucklist" class="span3" class="list")
			div(class="span3")
				h2 Tasks
				div.button
					a(href="/admin/addtaskform") Add Task
				div(id="tasklist" class="span3" class="list")
			div(class="span3")
				h2 Alerts
			div(class="span3")
				h2 Admins
	script(src="/javascripts/adminscripts.js")