extends layout

block content
	div(class="container HomeContainer")
		form(action="/login/admin",method="post")
			label Username:
			input(type="text", name="username")
			br
			label password: 
			input(type="password", name="password")
			input(type="submit", value="Submit")