extends layout

block content
	div(class="container HomeContainer")
		div(class="row")
			div(class="span12")
				h1 Administrator Console
		div(class="row")
			div(class="span3")
				h2 Trucks
			div(class="span3")
				h2 Tasks
			div(class="span3")
				h2 Alerts
			div(class="span3")
				h2 Admins