extends layout

block content
	div(class="container HomeContainer")
		div(class="row")
			div(class="span12")
				h1 Administrator Console
				h4.message #{message}
		div(class="row")
			div(class="span3")
				h2 Trucks
				a(href="/admin/addtruck") Add Truck
				div(id="trucklist" class="span3")
			div(class="span3")
				h2 Tasks
			div(class="span3")
				h2 Alerts
			div(class="span3")
				h2 Admins
	script(src="/javascripts/adminscripts.js")