extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			form(action="/login/appdev",method="post")
				label Username:
				input(type="text", name="username")
				br
				label password: 
				input(type="password", name="password")
				input(type="submit", value="Submit")