extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			div(class="row")
				div(class="span8 offset2 text-center")
					h1 Welcome to the WRVA dashboard
				div(class="span2")
			div(class="row")
				div(class="span3 offset1 text-left")
					a(href="/mobile")
						h2 Mobile
				div(class="span4 text-center")
					a(href="/main")
						h2 Main Dashboard
				div(class="span3 text-right")
					a(href="/admin")
						h2 Administrator
				div(class="span1")

