extends layout

block content
	div(id="HomeContainer")
		div(class="container-fluid")
			div(class="row-fluid")
				div(class="span7 offset1 text-center")
					h1 Welcome to the WRVA dashboard
			div(class="row-fluid")
				div(class="span3 text-center")
					h2 Mobile
				div(class="span3 text-center")
					h2 Dashboard
				div(class="span3 text-center")
					h2 Administration

