doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
		script(src="https://code.jquery.com/jquery-3.0.0.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/javascripts/bootstrap-datetimepicker.min.js")
		script(type="text/javascript") $(function(){$('.datetimepicker').datetimepicker({language: 'pt-BR'});});
		script(src="//cdn.tinymce.com/4/tinymce.min.js")
		script tinymce.init({ selector:'textarea' });
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		div.logout
			a(href="/logout") Logout
		block content