extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			form(action="/login",method="post")
				label Username:
				input(type="text", name="username", required)
				br
				label password: 
				input(type="password", name="password", required)
				br
				input(type="submit", value="Submit")
