extends layout

block content
	div(class="container HomeContainer")
		div(class="row")
			div(class="span6") 
				h1 White River Valley Ambulance
			div(class="span6") 
				h2 Alert: Inclement weather today
		div(class="row")
			div(class="span6") 
				h3 Truck1 </br> Truck2 </br> Truck3
			div(class="span6") 
				h3 Scheduled crew for today
		div(class="row")
			div(class="span12")
				h3 Tasks for today