extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			div(class="row")
				div(class="span6") 
					h1 Main Dashboard
				div(class="span6") 
					h2 Alerts
					div(id="MainAlerts")
			div(class="row")
				div(class="span6") 
					h3 Trucks
					div(id="MainTrucks")
				div(class="span6") 
					h3 Scheduled crew for today
			div(class="row")
				div(class="span12")
					h3 Tasks for today
					div(id="MainTasks")
