extends layout

block content
	div(class="container HomeContainer")
		div(class="row")
			div(class="span3")
				a(href="/database/init") Initialize
			div(class="span3")
				a(href="/database/clear") Clear Data
			div(class="span6")
				p.message #{message}
				br
				a(href="/admin") Return to site