extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			div(class="row")
				div(class="span4 text-right")
					h1 #{truck.truckname}
				div(class="span8")
					div(id="truckstatus")
			div(class="row")
				div(class="span4 text-left", id="Message")
				div(class="span8 text-left", id="TidyRuns")
	script(src="/javascripts/truckscripts.js", type="text/javascript")
	script(sync) getstatus(#{truck.truckid},function(){});