body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/paramedic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.HomeContainer {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: blue;
	padding: 10px;
}

.logout {
	margin-left: 50%;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: blue;
	padding: 5px;
	display: inline;
}

.message {
	color: red;
}

.list {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: blue;
	padding: 10px;
}

.button {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: blue;
	padding: 5px;
	display: inline;
}

.li
{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 2px;
	border-color: blue;
	padding: 5px;
}