body {
	padding: 0px;
	padding-top: 3em;
	padding-bottom: 3em;
	font: 14px  "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background-size: cover;
}

a {
	color: #00B7FF;
}

.HomeContainer {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #304770;
	transform: skewY(-4deg);
	transform-origin: 100%;
	z-index: 0;
	width: 100%;
	left: 0;
	right: 0;
	min-height: 20em;
	padding-bottom: 5em;
	padding-top: 5em;
	padding-left: 1em;
	padding-right: 1em;
}

.Inner {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #304770;
	z-index: 1;
	width:100%
	left: 0;
	right: 0;
	transform: skewY(4deg);
	transform-origin: 100%;
	position: relative;
	top: 5em;
	bottom: 5em;

}
/*
.HomeContainer:after {
	background: inherit;
	bottom: 0;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(-1.5deg);
	transform-origin: 100%;
	z-index: -1;
}
*/
.logout {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: blue;
	padding: 5px;
	display: inline;
	position: relative;
	top: 15px;
}

.message {
	color: red;
}

.list {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: blue;
	padding: 10px;
}

.button {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: blue;
	padding: 5px;
	display: inline;
}

.li
{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 2px;
	border-color: blue;
	padding: 5px;
}

.checkmark {
	height: 10px;
	width: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px;
}

.checkmark:hover {
	border: 1px solid;
	border-color: blue;
}

.title {
	margin-left: 50%;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: blue;
	padding: 5px;
	display: inline-block;
	height: 75px;
	position: relative;
	top: 15px;
	left: -600px;
}

.logo {
	padding-left: 5em;
}

.selectstatus {
	display: inline-block;
	width: 7em;
	height: 1.5em;
	border: 2px solid;
	border-radius: 1px;
	border-color: blue;
	padding: 1em;
	position: relative;
	background-color: white;
	font: 14px  "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
}

.selectstatus:hover {
	background-color: grey;
}

.unselectstatus {
	display: inline-block;
	width: 7em;
	height: 1.5em;
	border: 2px solid;
	border-radius: 1px;
	border-color: blue;
	padding: 1em;
	position: relative;
	background-color: black;
	font: 14px  "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

.unselectstatus:hover {
	background-color: grey;
}
