@font-face{
	font-family: Lato;
	src: url("/Lato-Black.woff");
}

body {
	color: black;
	padding: 0px;
	font-family: Lato;
	font: 14px  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-size: cover;
	background-color: #e5e5e5;
}

a {
	color: black;
}

.mainheader {
	background-color: #e5e5e5;
	width: 100%;
	margin: 0px;
	padding: 0px;

}

.mainheader img {
	width: 100%;
	height: 100%;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: auto;
}

.mainfooter {
	background-color: #e5e5e5;
	width: 100%;
	position: absolute;
	margin-top: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.mainfooter img {
	width: 100%;
	height: 100%;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: 0px;
}
.HomeContainer {
	margin-left: auto;
	margin-right: auto;
	background-color: #e5e5e5;
	z-index: 0;
	width: 100%;
	min-height: 47em;
	padding-left: 1em;
	padding-right: 1em;
}

.Inner {
	margin-left: auto;
	margin-right: auto;
	background-color: #e5e5e5;
	z-index: 1;
	width:100%
	left: 0;
	right: 0;
	position: relative;
	top: 5em;
	bottom: 5em;

}
/*
.HomeContainer:after {
	background: inherit;
	bottom: 0;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(-1.5deg);
	transform-origin: 100%;
	z-index: -1;
}
*/
.logout {
	float: right;
	margin-left: 90%;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-color: #304770;
	padding: 5px;
	display: inline;
	position: fixed;
	top:4%;
	right:5em;
}

.mainhome {
	display: inline;
	float: right;
	margin-left: 90%;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-color: #304770;
	padding: 5px;
	position: fixed;
	top: 4%;
	right: 9em;
}

.mainhome:active {
	background-color: gray;
}

.logout:active {
	background-color: gray;
}

.message {
	color: red;
}

.list {
	margin-left: auto;
	margin-right: auto;
	background-color: #e5e5e5;
	border: 2px solid;
	border-color: #006abc;
	padding: 10px;
}

.button {
	margin-left: auto;
	margin-right: auto;
	background-color: #1e73be;
	border: 2px solid;
	border-color: #006abc;
	padding: 5px;
	display: inline;
	position: relative;
	left: 13em;
}

.button:active {
	background-color: gray;
}

.li
{
	margin-left: auto;
	margin-right: auto;
	background-color: #e5e5e5;
	padding: 5px;
}

.checkmark {
	height: 10px;
	width: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px;
}

.checkmark:hover {
	border: 1px solid;
	border-color: #304770;
}

.title {
	margin-left: 50%;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: #304770;
	padding: 5px;
	display: inline-block;
	height: 75px;
	position: relative;
	top: 15px;
	left: -600px;
}

.logo {
	padding-left: 5em;
}

.selectstatus {
	display: inline-block;
	width: 7em;
	height: 1.5em;
	border: 2px solid;
	border-radius: 1px;
	border-color: #304770;
	padding: 1em;
	position: relative;
	background-color: white;
	font: 14px  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	text-align: center;
}

.selectstatus:hover {
	background-color: gray;
}

.unselectstatus {
	display: inline-block;
	width: 7em;
	height: 1.5em;
	border: 2px solid;
	border-radius: 1px;
	border-color: #304770;
	padding: 1em;
	position: relative;
	background-color: black;
	font: 14px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	text-align: center;
}

.unselectstatus:active {
	background-color: gray;
}

.callentry {
	display: table-cell;
	width: 50em;
	border: 3px solid;
	border-color: #304770;
	height: 3em;
	padding-left: 2em;
	padding-right: 2em;
	position: relative;
	background-color: white;
	color: black;
	vertical-align: middle;
}

.callentry:active {
	background-color: gray;
}

#callentrylog, #callentrylog th, #callentrylog td {
	border: 1px solid #304770;
}
#callentrylog {
	width: 90em;
}
#callentrylog th, #callentrylog td {
	text-align: center;
	color: black;
	border-bottom: 1px solid black;
	padding: .5em;
}

#callentrylog td:nth-child(1) {
	width: 2em;
}

#callentrylog td:nth-child(2) {
	width: 5em;
}

#callentrylog td:nth-child(3) {
	width: 25em;
}

#callentrylog td:nth-child(4) {
	width: 25em;
}

#callentrylog td:nth-child(5) {
	width: 10em;
}

#callentrylog td:nth-child(6) {
	width: 10em;
}

#callentrylog td:nth-child(7) {
	width: 10em;
}

#callentrylog td:nth-child(8) {
	width: 3em;
}

.button a {
	color: white !important;
}

.mainstatus {
	display: inline-block;
	padding: 1em;
	background: white;
	margin: 1em;
}