@font-face{
	font-family: Lato;
	src: url("/Lato-Black.woff");
}

html {
	width: 100%;
	overflow-x:hidden;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    overflow-x:hidden;
  }

}

body {
	color: white;
	padding: 0px;
	font-family: Lato;
	/*font: 14px  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font: 16px Arial, Helvetica, sans-serif;
	background-size: cover;
	background-color: #304770;
	margin: 0px;
	overflow-x:hidden;
}

a, a:active, a:hover, a:visited, a:link{
	color: white;
}

.mainheader {
	background-color: #e5e5e5;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.mainheader img {
	margin: 0px;
	width: 100%;
	height: 100%;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: auto;
}
/*
.mainfooter {
	background-color: #e5e5e5;
	width: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
	display: table-cell;
	vertical-align: bottom;
	bottom: 0px;
}

.mainfooter img {
	width: 100%;
	margin: 0px;
	bottom: 0px;
	padding: 0px;
}
*/
.HomeContainer {
	margin-left: auto;
	margin-right: auto;
	background-color: #304770;
	z-index: 0;
	min-height: 47em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 0px;
}

.Inner {
	margin-left: auto;
	margin-right: auto;
	background-color: #304770;
	z-index: 1;
	left: 0;
	right: 0;
	position: relative;
}
/*
.HomeContainer:after {
	background: inherit;
	bottom: 0;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(-1.5deg);
	transform-origin: 100%;
	z-index: -1;
}
*/
.logout {
	float: right;
	margin-left: 90%;
	margin-right: auto;
	background-color: #1e73be;
	border: 2px solid;
	border-color: #006abc;
	padding: 5px;
	display: inline;
	position: absolute;
	top:0px;
	right:5em;
	z-index: 2;
}

.mainhome {
	display: inline;
	float: right;
	margin-left: 90%;
	margin-right: auto;
	background-color: #1e73be;
	border: 2px solid;
	border-color: #006abc;
	padding: 5px;
	position: absolute;
	top: 0px;
	right: 9em;
	z-index:2;
}

.mainhome:active {
	background-color: gray;
}

.logout:active {
	background-color: gray;
}

.message {
	color: red;
}

.list {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.button {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	background-color: #1e73be;
	border: 2px solid;
	border-color: #006abc;
	padding: 5px;
	display: inline;
	position: relative;
	left: 3em;
	top: -.5em;
}

.button:active {
	background-color: gray;
}

.adminconsole h2 {
	display: inline-block;
}

.li
{
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.checkmark {
	height: 10px;
	width: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px;
}

.checkmark:hover {
	border: 1px solid;
	border-color: #304770;
}

.title {
	margin-left: 50%;
	margin-right: auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	border-color: #304770;
	padding: 5px;
	display: inline-block;
	height: 75px;
	position: relative;
	top: 15px;
	left: -600px;
}

.logo {
	padding-left: 5em;
}

.selectstatus {
	display: inline-block;
	width: 7em;
	height: 1.5em;
	border: 2px solid;
	border-radius: 1px;
	border-color: #304770;
	padding: 1em;
	position: relative;
	background-color: white;
	font: 14px  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	text-align: center;
}

.selectstatus:hover {
	background-color: gray;
}

.unselectstatus {
	display: inline-block;
	width: 7em;
	height: 1.5em;
	border: 2px solid;
	border-radius: 1px;
	border-color: #304770;
	padding: 1em;
	position: relative;
	background-color: black;
	font: 14px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	text-align: center;
}

.unselectstatus:active {
	background-color: gray;
}

.callentry {
	display: table-cell;
	width: 50em;
	border: 3px solid;
	border-color: #304770;
	height: 3em;
	padding-left: 2em;
	padding-right: 2em;
	position: relative;
	background-color: white;
	color: black;
	vertical-align: middle;
}

.callentry:active {
	background-color: gray;
}

#callentrylog, #callentrylog th, #callentrylog td {
	border: 1px solid #304770;
}
#callentrylog {
	width: 100%;
}
#callentrylog th, #callentrylog td {
	text-align: center;
	color: #e5e5e5;
	border-bottom: 1px solid black;
	padding: .5em;
}

#callentrylog td:nth-child(1) {
	width: 2%;
}

#callentrylog td:nth-child(2) {
	width: 13%;
}

#callentrylog td:nth-child(3) {
	width: 13%;
}

#callentrylog td:nth-child(4) {
	width: 5%;
}

#callentrylog td:nth-child(5) {
	width: 21%;
}

#callentrylog td:nth-child(6) {
	width: 21%;
}

#callentrylog td:nth-child(7) {
	width: 8%;
}

#callentrylog td:nth-child(8) {
	width: 7%;
}

#callentrylog td:nth-child(9) {
	width: 7%;
}

#callentrylog td:nth-child(10) {
	width: 3%;
}

.button a {
	color: white !important;
}

.mainstatus {
	display: inline-block;
	padding: 1em;
	background: black;
	margin: 1em;
}

.blockitem {
	padding:0px;
	margin:0px;

}

.blockitem div {
	
}

.xmark {
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-left: 1em;
}

#currenttrucks {
	margin-left: auto;
	margin-right: auto;
}

#currenttasks {
	margin-left: auto;
	margin-right: auto;
}

#currentcrew {
	margin-left: auto;
	margin-right: auto;
}

#callentrytablediv {
	margin-top: 2em;
}

.alert {
	color: black;
}

.listofalerts {
	margin-top: 2em;
}

.callentryrow:hover {
	background: gray;
}

.callentryrow:active {
	background: white;
}

[type="radio"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

span {
	display: inline-block;
}

[type="radio"] + span::before {
  content: '';
  background: url(/images/emptycheck.png) no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
  bottom: 0px;
  transition: 0.5s ease all;
  margin-right: 1em;
}

[type="radio"]:checked + span::before {
  background: url(/images/checked.png) no-repeat;
}

[type="radio"]:focus + span::before {
	box-shadow: 0 0 0 0.15em #000;
}